<% layout("/INCLUDE/boilerplate")%>
<style>
    h1 {
        margin: 2rem 0 0 0;
    }
    .about{
        display: flex;
        margin: 2rem 0 0 0;
        border: 2px solid red;
    }
    .about p{
        margin: 1rem 0 0 5rem ;
        border: 2px solid blue;
        font-size: 1.6rem;
        width: 35rem;
        padding: 2rem 0 0 2rem;

    }
    .about img{
        width: 40rem;
        height: 20rem;
        margin: 0 0 0 2rem;
    }
    h2{
        margin: 2rem 0 0 0;
    }
    .misson p{
        margin: 1rem 0 0 5rem ;
        border: 2px solid blue;
        font-size: 1.6rem;
        height: 15rem;
        padding: 2rem 0 0 2rem;

    }
    .team{
        margin: 2rem 0 0 0 ;
        border: 2px solid brown;
        height: 20rem;
        
    }
    .join{
        margin: 2rem 0 0 0 ;
        border: 2px solid brown;
        /* height: 20rem; */

    }
    .join p{
        font-size: 1.7rem;
    }
    .name{
        border: 2px solid green;
        margin: 2rem 0 0 5rem;
        width: 30rem;
    }
</style>
    <h1>WELCOME TO OUR-BLOG</h1>
    <div class="about">
        <p>At OUR-BLOG, we believe in the power of stories and the beauty of everyday life.
             Founded in 2024 by <i> Our Honourable Team</i>, our blog is a vibrant space where we explore
             [topics/themes, e.g., travel, food, wellness, etc.],
              sharing our passions and experiences with a community of fellow enthusiasts.</p>

        <img src="blogs.jpg" alt="error">     
    </div>
    <div class="misson">
        <h2>Misson</h2>
        <p>Our mission is to inspire and connect. 
            We aim to provide you with valuable insights, practical tips, and a splash of joy in every post.
             Whether you're looking for specific content, e.g., adventure ideas, healthy recipes, or teach knowledge,
              we’ve got something just for you!</p>
    </div>
    <div class="team">
        <h1>Meet The Team</h1>
        <div class="name">
            <h3>Aaditya Student of Niet</h3>
            <h3>Suraj Student of DU</h3>
            <h3>Bharat Student of GCAT</h3>
            <h3>Subham Student of LN</h3>
            <h3>Sourav Student of DPG</h3>
        </div>
    </div>
    <div class="join">
        <h1>Join The Community</h1>
        <p>We invite you to explore our blog, engage with our content, and share your thoughts in the comments.
             Connect with us on social media for updates, inspiration, and more!</p>
    </div>
